#editHeader {
  font-family: Verdana, sans-serif;
  font-size: x-large;
  margin-bottom: 12px;
  color: firebrick;
}

.edit {
  background-color: antiquewhite;
  border-radius: 15px 50px 30px;
  padding: 50px 0px;
  width: 80%;
  margin: 0 auto;
}
